<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queuing System</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

    <div class="main">
        <div class="menubar">
            <img src="../img/Logo alta.png" alt="Alta" class="logo">
            <ul class="list-menu">
                <li class="item-menu">
                    <img src="../img/element-4.png" alt="">
                    <span>Dashboard</span>
                </li>
                <li class="item-menu">
                    <img src="../img/monitor.png" alt="">
                    <span>Thiết bị</span>
                </li>
                <li class="item-menu">
                    <img src="../img/Frame 332.png" alt="">
                    <span>Dịch vụ</span>
                </li>
                <li class="item-menu">
                    <img src="../img/icon dasboard03.png" alt="">
                    <span>Cấp số</span>
                </li>
                <li class="item-menu">
                    <img src="../img/Frame (1).png" alt="">
                    <span>Báo cáo</span>
                </li>
                <li class="item-menu">
                    <img src="../img/setting.png" alt="">
                    <span>Cài đặt hệ thống</span>
                    <img class="setting" src="../img/fi_more-vertical.png" alt="">
                </li>

            </ul>
            <button type="submit" name="" class="logout">
                <div class="btn-logout">
                    <img src="../img/fi_log-out.png" alt="">
                    <span>Đăng nhập</span>
                </div>
            </button>
           
        </div>
        <div class="topbar">
            <div class="topbar-btn">
                <button class="topbar-btn">
                    <span>Dashboard</span>
                </button>
            </div>
            <div class="notify">
                <img src="../img/Frame 271.png" alt="">
            </div>
            <div class="info">
                <img src="" alt="Avata">
                <div class="info-detail">
                    <p>Xin chào</p>
                    <span class="name">Kiều Anh</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="avata">
                <img src="../img/Group 624818.png" alt="Avata">
                <span>Phan Mai Kieu Anh</span>
            </div>
            <div class="content right">
               <div class="content-info right">
                   <span>Tên người dùng</span>
                    <div class="show-info right">
                        <span>ABC</span>
                    </div>
               </div>
               <div class="content-info right">
                   <span>Số điện thoại</span>
                    <div class="show-info right">
                        <span>00000000000</span>
                    </div>
               </div>
               <div class="content-info right">
                    <span>Email</span>
                    <div class="show-info right">
                        <span>@gmail.com</span>
                    </div>
                </div>

            </div>
            <div class="content left">
                <div class="content-info left">
                    <span>Tên đăng nhập</span>
                     <div class="show-info left">
                         <span>aaaaaaaaaaaa</span>
                     </div>
                </div>
                <div class="content-info left">
                    <span>Mật khẩu</span>
                     <div class="show-info left">
                         <span>xxxxxxxxxx</span>
                     </div>
                </div>
                <div class="content-info left">
                    <span>Vai trò</span>
                     <div class="show-info left">
                         <span>Admin</span>
                     </div>
                </div>
            </div>
    </div>
</body>
</html>
    