<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queuing System</title>
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&family=Open+Sans:wght@400;500&family=Pacifico&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main">
            <div class="container">
                <div class="content">
                    <div class="logo">
                        <img src="../img/Logo alta.png" alt="">
                    </div>
                    <span class="title title-reset">Đặt lại mật khẩu</span>
                    <div class="form-login">
                        <div class="form form-1">
                            <form action="" method="post">
                                <!-- <input type="hidden" name="_method" value="POST"/> -->
                                <input class="input" type="text"  name="email" value="" required>
                            </form>
                        </div>
                    </div>
                    <button type="submit" name="" class="">
                        <div class="btn btn-cancel">
                            <span>Hủy</span>
                        </div>
                    </button>
                    <button type="submit" name="" class="">
                        <div class="btn btn-continue">
                            <span>Đăng nhập</span>
                        </div>
                    </button>
                </div>

                <div class="system">
                    <img class="img" src="../img/Frame.png" alt="">
                </div>
            </div>
    </div>
</body>
</html>
    