:root {
    --background-color: #F6F6F6;
    --btn-color: #fff;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: 'Nunito';
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main {
    position: relative;
    width: 1440px;
    height: 810px;
    background: #F7F7F7;
    border-radius: 16px;
}

.logo {
    position: absolute;
    width: 170px;
    height: 136px;
    left: 208px;
    top: 82px;
}

.form-login {
    /* position: relative; */
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    position: relative;
    /* width: 400px; */
    height: 75px;
    left: 94px;
    top: 340px;
}

.form-1:first-child {
    padding-bottom: 16px;
}

.form-2{
    top: 370px;
}
.form-2:first-child {
    /* top: 365px; */
    padding-bottom: 32px;
}
/* 
.form-2:last-child {
    top: 456px;
} */

.show {
    position: relative;
}

.showpw {
    width: 20px;
    height: 20px;
    position: relative;
    left: 92%;
    bottom: 30px;
    color: #7E7D88;
}

.heading {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #37474F;
}

.input {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 10px 12px;
    gap: 10px;

    width: 400px;
    height: 44px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #535261;
}

.forgotpw {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-top: 12px;
    color: #E73F3F;
    top: calc(56% - 3px);
    left: 94px;
    position: absolute;
}

.submit, .btn a {
    min-width: 82px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
}

.system {
    position: absolute;
    width: 848px;
    height: 810px;
    left: 592px;
    top: 0px;
    background: #FFFFFF;
}


.text span {
    position: absolute;
    height: 54px;
    left: calc(1046px - 592px);
    top: 407px;
    font-weight: 400;
    font-size: 34px;
    line-height: 51px;

    text-align: center;

    color: #FF7506;
}

.text span:last-child {
    position: absolute;
    height: 54px;
    left: calc(1046px - 592px);
    top: 454px;
    font-weight: 900;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #FF7506;
}

.menubar {
    position: absolute;
    width: 200px;
    height: 810px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
    border-radius: 16px 0px 0px 16px;
}

.menubar img {
    position: absolute;
    width: 80px;
    height: 64px;
    left: 60px;
    top: 32px;
}

.list-menu {
    position: absolute;
    width: 200px;
    height: 48px;
    left: 0px;
    top: 150px;
}

.item-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 12px 12px 4px;
    gap: 8px;

    position: relative;
    width: 176px;
    height: 48px;
    left: 12px;
    top: 0px;

    border-radius: 8px;

}

.item-menu img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 13px;

}

.item-menu span {
    padding-left: 32px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #7E7D88;
}

.item-menu>.setting {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 154px;
    top: 14px;
}

.logout {
    position: absolute;
    /* width: 200px;
    height: 46px; */
    left: 0px;
    top: 732px;
}

.topbar {
    position: absolute;
    width: 1240px;
    height: 88px;
    left: 200px;
    top: 0px;
}

.topbar-btn {
    position: absolute;
    width: 120px;
    height: 40px;
    left: 24px;
    top: 24px;
}

.topbar-btn button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 8px 10px 0px;
    gap: 8px;

    position: absolute;
    width: 176px;
    height: 40px;
    left: 0px;
    top: 0px;

    border-radius: 8px;
    border: none;
}

.topbar-btn span {
    width: 168px;
    height: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF9138;
}

.notify {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 260px;
    top: 28px;
    background: #FFF2E7;
    border-radius: 32px;
}

.notify img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 6px;
    top: 6px;
}

.info {
    position: absolute;
    width: 172px;
    height: 42px;
    left: 1004px;
    top: 24px;
}

.info img {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 132px;
    top: 0px;
    background: url(.jpg);
    border-radius: 48px;
}

.info-detail {
    position: absolute;
    width: 126px;
    height: 42px;
    left: 48px;
    top: 0px;
}

.info-detail p {
    position: absolute;
    width: 47px;
    height: 18px;
    right: 77px;
    top: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7E7D88;
}

.name {
    position: absolute;
    width: 126px;
    height: 24px;
    right: -2px;
    top: 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
}
/* detail info */
/* .container{
    position: relative;
    width: 1112px;
    height: 397px;
    left: 224px;
    top: 168px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(219, 219, 219, 0.5);
    border-radius: 12px;

} */
.avata{
    position: absolute;
    width: 248px;
    height: 303px;
    left: 24px;
    top: 40px;
}
.avata img{
    position: absolute;
    width: 248px;
    height: 251px; 
}
.avata  span{
    position: absolute;
    height: 36px;
    left: 24px;
    top: calc(307px - 40px);
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #282739;
}

/* content detail  */
.content.right{
    position: absolute;
    width: 792px;
    height: 276px;
    left: 296px;
    margin-top: 40px;
}

.content-info.right{
    position: relative;
    width: 384px;
    height: 76px;
    margin-top: 32px;
}
.content-info.right span{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 113px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;

}
.show-info.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;

    position: absolute;
    width: 384px;
    height: 44px;
    margin-top: 32px;
    background: #EAEAEC;
    border-radius: 6px;
}
.show-info span{
    width: 122px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
    opacity: 0.5;
}

.content.left{
    position: absolute;
    width: 384px;
    height: 76px;
    left: 704px;
    top: 40px;
}

.content-info.left{
    position: relative;
    width: 384px;
    height: 76px;
    margin-top: 32px;
}

.content-info.left span{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}
.show-info.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;

    position: absolute;
    width: 384px;
    height: 44px;
    margin-top: 32px;
    background: #EAEAEC;
    border-radius: 6px;
}
.show-info.left span{
    width: 115px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
    opacity: 0.5;
} 
.button{
    position: relative;
}
.fail{
    margin-top: 8px;
    bottom: 28%;
    left: calc(17% - 4px);
    top: auto;
}
.error{
  border: 1.5px solid #E73F3F;
}
/* forgot password */
.content-fg{
    display: flex;
    flex-direction: column;
    padding: 102px 0px 48px 94px;
    margin-top: 218px;
    position: absolute;
    text-align: center;
}
.footer-fg{
    text-align: center;
}
.footer-fg a{
   text-decoration: none;
   left: 118px;
}
.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #282739;
    margin-bottom: 16px;
}

.title-newpw{
    left: 13.75%;
    right: 71.6%;
    top: 36.51%;
    bottom: 56.42%;
    width: 100%;

}
.title-des{
    font-size: 18px;
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;

    position: absolute;
    left: 215px;
    top: 511px;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    background: #FF9138;
}
.btn-primary {
    width: 147px;
    font-weight: 700;
    color: #fff;
    background-color: #FF9138;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
}

.btn-cancel{
    border: 1px solid #FF9138;
    filter: drop-shadow(0px 0px 6px #E7E9F2);
    background: #f6f6f6;
    margin-right: 32px;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    width: 147px;
    height: 48px;
    color: #FF9138;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.btn-cancel a{
    color: #FF9138;;
    text-decoration: none;
}
.btn-continue{
    position: absolute;
    left: 304px;
    height: 48px;
    left: none;
    border: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}
.btn-confirm{
    left: 219px;
    top: 579px;
}

.btn-logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 12px;

    position: absolute;
    width: 176px;
    height: 48px;
    left: 12px;
    top: 0px;
    background: #FFF2E7;
    border-radius: 8px;
}

.btn-logout img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: 13px;
}

.btn-logout span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF7506;

    padding-left: 32px;
    height: 24px;

}
.img-login{
    position: absolute;
    width: 605px;
    height: 614.06px;
    left: calc(671px - 592px);
    top: 112.94px;
}
.img{
    position: absolute;
    width: 711px;
    height: 560px;
    left: calc(635px - 592px);
    top: 153px;

}
