

.ftco-section {
  background: #FFFFFF;
  box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
  border-radius: 12px;
  margin: 0 24px;
}

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px;
  color: #000; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.calendar, .calendar_weekdays, .calendar_content {
  max-width: 450px; }

.calendar {
  margin: auto;
  font-weight: 400; }

.calendar_content {
  background: #fff; }

.calendar_weekdays {
  /* background: #1089ff;  */
}

.calendar_header {
  padding: 16px 0; }

.calendar_content, .calendar_weekdays, .calendar_header {
  position: relative;
  overflow: hidden; }

.calendar_weekdays div {
  display: inline-block;
  vertical-align: top;
  font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
color: #FF9138 !important;

}

.calendar_weekdays div, .calendar_content div {
  width: 14.28571%;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
  color: #000;
  font-size: 16px;
  padding: 7px 0; }

.calendar_content div {
  border: 1px solid transparent;
  float: left;
  position: relative;
  z-index: 0; }

.calendar_content div:hover {
  background-color: #fff2e7;
  cursor: default; 
}

.calendar_content div.blank:hover {
  cursor: default;
  border: 1px solid transparent; }

.calendar_content div.past-date {
  color: #A9A9B0; }

.calendar_content div.today {
  font-weight: bold;
  font-size: 16px;
  color: #fff !important; }
  .calendar_content div.today:after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    width: 36px;
  height: 36px;
    margin: 0 auto;
    background: #FF7506;
    border-radius: 8px;
    z-index: -1;
    -webkit-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48); }

.calendar_content div.selected {
  background-color: #fff2e7; 
}

.calendar_header {
  width: 100%;
  text-align: center; }

.calendar_header h2 {
  padding: 0 10px;
  float: left;
  width: 70%;
  margin: 0 0 10px; 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FF7506;
  position: relative;
  top: 14px;
}

button.switch-month {
  background-color: transparent;
  padding: 0;
  outline: none;
  border: none;
  color: #dcdcdc;
  float: left;
  width: 15%;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; 
  position: relative;
  top: 14px;
  color: #FF7506;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

button.switch-month:hover {
  color: #1089ff; }
